In [1]:
# Import Dependencies
from bs4 import BeautifulSoup as bs
#import requests
import pymongo
from splinter import Browser
import pandas as pd

In [2]:
# Set url
url = "https://mars.nasa.gov/news/"

In [38]:
# Create path with chromedriver.exe
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# Visit url with executed browser
browser.visit(url)

In [5]:
# Scrape latest news headline title
html = browser.html
soup = bs(html, 'html.parser')
news_title = soup.find("li", class_="slide").find("div", class_="content_title").text
print(news_title)

NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch

In [6]:
# Scrape latest news headline paragraph
news_p = soup.find("li", class_="slide").find("div", class_="article_teaser_body").text
print(news_p)

The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July.

In [39]:
# Scrape for newest featured image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [40]:
browser.visit(url)

In [41]:
html = browser.html
soup = bs(html, 'html.parser')

In [42]:
image_name = soup.find('article', class_='carousel_item')['alt']
print(image_name)

Annular Eclipse of the Sun by Phobos, as Seen by Curiosity

In [43]:
base_url = "https://www.jpl.nasa.gov"
img_src = soup.find(attrs={'data-title':image_name})["data-fancybox-href"]
featured_image_url = base_url + img_src
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17356_ip.jpg

In [16]:
# Scrape for latest weather report from twitter feed
url = "https://twitter.com/marswxreport?lang=en"

In [18]:
browser.visit(url)

In [19]:
html = browser.html

In [20]:
soup = bs(html, 'html.parser')

In [21]:
tweets = soup.find_all("div", class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")

In [22]:
for tweet in tweets:
    
    if "InSight" in tweet.find("span", class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0").text:
        mars_weather = tweet.find("span", class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0").text
        break

In [23]:
print(mars_weather)

InSight sol 435 (2020-02-16) low -93.8ºC (-136.9ºF) high -10.2ºC (13.7ºF)
winds from the SSE at 7.4 m/s (16.5 mph) gusting to 23.0 m/s (51.5 mph)
pressure at 6.30 hPa

In [24]:
# Scrape for mars facts table 
url = "https://www.space-facts.com/mars"

In [26]:
browser.visit(url)

In [27]:
html = browser.html

In [28]:
data = pd.read_html(html)

In [29]:
mars_facts_df = data[0]
mars_facts_df.columns = ["Property", "Value"]
mars_facts_df

               Property                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
# Convert mars facts table into html 
mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Property</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
# Scrape for hemisphere title and images
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [33]:
browser.visit(url)
html = browser.html

In [34]:
soup = bs(html, "html.parser")

In [35]:
links = soup.find_all("div", class_="item")

In [36]:
hemisphere_image_urls = []

for link in links:
    
    end_point = link.find("a")["href"]
    url = "https://astrogeology.usgs.gov" + end_point
    browser = Browser('chrome', **executable_path, headless=False)
    browser.visit(url)
    html = browser.html
    soup = bs(html, "html.parser")
    
    title = soup.find("div", class_="content").find("h2").text
    img_url = soup.find("div", class_="downloads").find("a")["href"]
    
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]